Source: golang-github-tdewolff-parse
Section: golang
Priority: optional
Maintainer: Debian Go Packaging Team <team+pkg-go@tracker.debian.org>
Uploaders: Anthony Fok <foka@debian.org>
Rules-Requires-Root: no
Build-Depends: debhelper-compat (= 13),
               dh-sequence-golang,
               golang-any (>= 2:1.13~),
               golang-github-tdewolff-test-dev (>= 1.0.10+git20231101.f1265d2)
Testsuite: autopkgtest-pkg-go
Standards-Version: 4.7.0
Vcs-Browser: https://salsa.debian.org/go-team/packages/golang-github-tdewolff-parse
Vcs-Git: https://salsa.debian.org/go-team/packages/golang-github-tdewolff-parse.git
Homepage: https://github.com/tdewolff/parse
XS-Go-Import-Path: github.com/tdewolff/parse

Package: golang-github-tdewolff-parse-dev
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Description: Go parsers for web formats
 This package contains several lexers and parsers written in Go.
 All subpackages are built to be streaming, high performance
 and to be in accordance with the official (latest) specifications.
 .
 The lexers are implemented using buffer.Lexer in
 https://github.com/tdewolff/parse/buffer and the parsers work on top of
 the lexers. Some subpackages have hashes defined (using Hasher
 https://github.com/tdewolff/hasher) that speed up common
 byte-slice comparisons.
